body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .clock-container {
  color: #00aaff;
}

  font-family: Arial, sans-serif;
  text-align: center;
}


.time {
  font-size: 4rem;
  font-weight: bold;
  text-shadow:
    0 0 8px #00aaff,
    0 0 12px #00aaff,
    0 0 20px #0088dd,
    0 0 30px #0066bb;
     animation: pulseGlow 2s infinite ease-in-out;
}

.date {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-shadow:
    0 0 6px #00aaff,
    0 0 10px #0088dd;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

.clock-container {
  height: 100%;
}
@keyframes pulseGlow {
  0% {
    text-shadow:
      0 0 6px #00aaff,
      0 0 12px #00aaff,
      0 0 18px #0088dd,
      0 0 28px #0066bb;
  }
  50% {
    text-shadow:
      0 0 12px #00ccff,
      0 0 18px #00ccff,
      0 0 28px #00aaff,
      0 0 38px #0088dd;
  }
  100% {
    text-shadow:
      0 0 6px #00aaff,
      0 0 12px #00aaff,
      0 0 18px #0088dd,
      0 0 28px #0066bb;
  }
}
